---
title: Resume
heading: Resume
subtitle: My Experiences
---

<section class="diagonal patterned">
	<div class="container">
		<p style="text-align: center; font-size:30px">Currently Available for a Spring 2021 Coop</p>
			<p style="text-align: center;"><a href="/assets/finalResumeOct12.pdf">Download Here</a><p/>
		<ul class="image-grid">
			<!-- {% for member in site.staff_members %}
				<li>{% include staff-member.html member=member %}</li>
			{% endfor %} -->
			<!-- <iframe src="http://docs.google.com/gview?url=https://studentemployment.neu.edu/cimages/17%20-18%20Cooperative%20Education%20Placement%20Sheet.pdf&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe> -->
			<!-- <embed src="/assets/resume.pdf" width="1000px" height="1200px" /> -->
			<!-- <object data="your_url_to_pdf" type="application/pdf">
			 <embed src="/assets/Resume2.pdf"width="1050px" height="1200px" type="application/pdf" />
	 		</object> -->
			<iframe src="/assets/novemberResumeStachowiak.pdf" width="1050px" height="1250px" border="0"></iframe>
		</ul>
	</div>
</section>
